/* Place custom css here. */
.prose p > code:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: #c01443;
    background-color: #EEE;
    font-weight: 600;
    font-size: 0.875em;
    padding-left:   3px;
    padding-right:  3px;
    padding-top:    0px;
    padding-bottom: 0px;
    border-radius: 3px;
}

.prose p > code:not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: none;
}

.prose p > code:not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: none;
}

.img-avatar {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
    height: 200px;
}